{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "^react$",
    "react-query|styled-components|swiper|polished",
    "<THIRD_PARTY_MODULES>",
    "@pages",
    "@components",
    "@assets",
    "@utils",
    "^./|^../",
    "@public"
  ],
  "importOrderSeparation": true
}